SEMAPHORE_API_URL=http://127.0.0.1/api
SEMAPHORE_HOST_HEADER=semaphore.homelab.local
SEMAPHORE_USERNAME=admin
SEMAPHORE_PASSWORD=CHANGE_ME
SEMAPHORE_TOTP_SECRET=

SEMAPHORE_PROJECT_NAME=leakguard
SEMAPHORE_VIEW_TITLE=Pilot
SEMAPHORE_REPOSITORY_NAME=leakguard
SEMAPHORE_REPO_KEY_NAME=GitHub PAT
SEMAPHORE_INVENTORY_NAME=sharex-pilot
SEMAPHORE_ENVIRONMENT_NAME=sharex-pilot-winrm
SEMAPHORE_TEMPLATE_NAME=win_ping
SEMAPHORE_TEMPLATE_DESCRIPTION=Validate WinRM connectivity on pilot hosts
SEMAPHORE_TEMPLATE_LIMIT=

GIT_REPO_USERNAME=CHANGE_ME
GIT_REPO_TOKEN=CHANGE_ME
GIT_REPO_URL=https://github.com/Richardbarbosasilva/Leakguard.git
GIT_REPO_BRANCH=main

PILOT_INVENTORY_FILE=/var/www/leakguard/infra/ansible/inventories/pilot.ini
PILOT_PLAYBOOK=infra/ansible/playbooks/win_ping.yml

# O inventario define o metodo de autenticacao por host.
# O environment do Semaphore fica so com a senha compartilhada.
WINRM_PASSWORD=CHANGE_ME
LEAKGUARD_AGENT_API_BEARER_TOKEN=

RUN_TEMPLATE=0

# Se preenchido, o bootstrap cria a extra var `leakguard_agent_api_bearer_token`
# no environment do Semaphore com o nome exato que os playbooks consomem.
